---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";
import UserProfile from "src/components/UserProfile.astro";
import PostCard from "src/components/PostCard.astro";
import { getPosts } from "src/lib/posts";

const posts = await getPosts()
const filteredPosts = posts?.filter((p) => p.is_draft !== true)
---

<PageLayout>
  <PageMeta title={`MyPosts | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <UserProfile />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-5 place-items-center">
      {
        filteredPosts?.map((post) => {
          return (
            <article>
              <PostCard title={post.title} href={`/posts/${post.id}`} />
            </article>
          );
        })
      }
    </div>
  </section>
</PageLayout>
