---
import Layout from "../layouts/Layout.astro";
import UserProfile from "../components/UserProfile.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <UserProfile />
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-5 place-items-center"
    >
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        1
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        2
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        3
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        4
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        5
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        6
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        7
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        8
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        9
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        10
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        11
      </div>
      <div
        class="bg-green-100 text-green-500 text-lg font-bold text-center rounded-lg w-72 h-72 flex items-center justify-center"
      >
        12
      </div>
    </div>
  </main>
</Layout>
