---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a
  href="#"
  class="block max-w-sm w-96 p-6 rounded-lg shadow border bg-[#1C132C] border-[#3A2956] hover:bg-[#2D223E]"
>
  <h5
    class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
  >
    Noteworthy technology acquisitions 2021
  </h5>
  <div class="space-x-1 mb-2">
    <span
      class="text-xs font-medium px-3 py-0.5 rounded-full bg-blue-900 text-blue-300"
      >TypeScript</span
    >
    <span
      class="text-xs font-medium px-3 py-0.5 rounded-full bg-purple-700 text-purple-300"
      >Astro</span
    >
  </div>
  <p class="text-sm font-normal text-slate-400">
    Here are the biggest enterprise technology acquisitions of 2021 so far, in
    reverse chronological order.
  </p>
</a>
