---
export interface Props {
  title: string;
  body: string;
  href: string;
}
---

<article class="w-72 h-80">
  <a
    href="#"
    class="h-full block max-w-sm p-5 border rounded-lg bg-gray-800 border-gray-700 hover:bg-gray-700"
  >
    <h5 class="mb-2 text-xl font-extrabold tracking-tight text-white">
      Noteworthy technology acquisitions 2021
    </h5>
    <div class="mb-2">
      <span
        class="bg-blue-200/90 text-blue-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-200/80"
        >Default</span
      >
      <span
        class="bg-gray-200/90 text-gray-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-200/80"
        >Dark</span
      >
      <span
        class="bg-red-200/90 text-red-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-200/80"
        >Red</span
      >
      <span
        class="bg-green-200/90 text-green-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-200/80"
        >Green</span
      >
      <span
        class="bg-yellow-200/90 text-yellow-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-200/80"
        >Yellow</span
      >
      <span
        class="bg-indigo-200/90 text-indigo-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-200/80"
        >Indigo</span
      >
      <span
        class="bg-purple-200/90 text-purple-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-200/80"
        >Purple</span
      >
      <span
        class="bg-pink-200/90 text-pink-800 text-xs font-medium mr-0.5 px-2.5 py-0.5 rounded-full dark:bg-pink-900 dark:text-pink-200/80"
        >Pink</span
      >
    </div>
    <p class="text-sm text-gray-400">
      Here are the biggest enterprise technology acquisitions of 2021 so far, in
      reverse chronological order.
    </p>
  </a>
</article>
