<div class="flex flex-col items-center pb-8">
  <img
    class="w-24 h-24 mb-4 rounded-full shadow-lg"
    src="https://picsum.photos/200"
    alt="Bonnie image"
  />
  <h4 class="mb-2 text-2xl font-bold text-slate-100">Bonnie Green</h4>
  <span class="text-sm text-slate-400">Visual Designer</span>
</div>
