---
import { faker } from "@faker-js/faker";
const fullName = faker.name.fullName();
const job = faker.name.jobTitle();
---

<div class="flex flex-col items-center pb-8">
  <img
    class="w-24 h-24 mb-4 rounded-full shadow-lg"
    src="https://picsum.photos/200"
    alt="Bonnie image"
  />
  <h4 class="mb-2 text-3xl font-extrabold">{fullName}</h4>
  <span class="text-sm">{job}</span>
</div>
